.sab2{
    width: 60%;
    margin-top: 10%;
    margin: auto;
}

.bgs{
    background-color: #7286D3;
    background-size: cover;
    height: 70vh;
}
.navback{
    background-color: #537FE7;
}
.navlink{
    color: black;
}
.navmar{
    margin-right: 665px;
}
.aspsize{
    padding: 5% 6% 0 6%;
}
.active{
  background-color: #537FE7;
}
@media screen and (max-width:1300px){
    .navmar{
    margin-right: 420px;
}
    
}
.revealhod{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s ease;
}
.activehod{
  transform: translateY(0px);
    opacity: 1;
}
@media screen and (max-width:950px){
    .navback1{
    background-color: #537FE7;
}
    .navmar{
        margin-right: 214px;
    }
}
@media screen and (max-width:550px){
    .navmar{
        margin-right: 80px;
    }
}
.wrapper {
width:100%;
margin : 0;
margin-left:15%;
margin-top:100px;}

.hodl { <! this is  first div tag in wrapper tag >
width:50%;
margin : 0;
float : right;
}

.hod2 {   <!this is second div tag in wrapper tag this two div tags are under wrapper class>
width:50%;
margin : 0;
float : left ;
}
